
.new-order-wrapper{
    position: absolute;
    width: 95%;
    height: 40px;
    //background-color: rgb(102, 102, 138);
    color: white;
    border-radius: 4px;
    position: relative;
    -webkit-transform: translateZ(0);
    cursor: grab;
    .resize{
        cursor:row-resize;
        height: 5px;
        background-color: blue;
    }
    
    .grabber{
        content: '';
        position: absolute;
        bottom: 0;
        margin-left: 0;
       
        height: 9px;
        width: 100%;
        // border-top: 1px solid #f1f1f1;
        overflow: hidden;
        background-color: inharite;         
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; 
        .mat-icon{
            cursor: s-resize;
        }
    }
}